.page-header {
  box-sizing: border-box;
  height: 129px;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px;
  padding-bottom: 25px;

  background-color: #35363A;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);

  transition: height 0.1s ease-in;
}

.page-header--details {
  height: 66px;

  transition: height 0.2s ease-in;
}

.page-header__title {
  margin: 0;
  margin-bottom: 16px;

  color: #ffe800;

  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: left;
  text-transform: uppercase;

  cursor: default;
}

.page-header--details .page-header__title {
  margin-bottom: 0;
}

.page-header__form {
  display: flex;
}

.page-header__search {
  width: 255px;
  margin-right: 12px;
}

.page-header__search-input {
  box-sizing: border-box;
  width: 100%;
  height: 37px;
  padding: 10px 12px;

  font-family: inherit;
  font-size: 15px;

  border-radius: 6px;
  border: none;

  outline: none;

  transition: all 0.15s ease-in;

  &:focus {
    width: 355px;
  }
}


.page-header--details .page-header__search-input {
  height: 0;
  font-size: 0;
  padding: 0;

  transition: all 0.1s ease-in;
}


.page-header__search-submit {
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 10px 12px;

  font-family: inherit;
  font-weight: 400;
  color: #ffffff;

  border: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;

  transition: opacity 0.1s ease-in;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
