.repository {
  padding: 12px;

  border: 1px solid #ffffff;
  border-radius: 15px;
}

.repository__title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 400;
}

.repository__link {
  color: #687fad;
  text-decoration: none;
}
